.App {
  background-color: #37475a;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  background-color: #e47911;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10vh;
  font-size: calc(20px + 2vmin);
  color: #ffffff;
}

hr {
  color:#ffffff;
  display: block;
  height: 3px;
  width: 50%;
  background-color: #ffffff;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}