.App {
  text-align: start;
  background-color: #37475a;
}

.App-header {
  background-color: #e47911;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10vh;
  font-size: calc(20px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

hr {
  color:#ffffff;
  display: block;
  height: 3px;
  width: 50%;
  background-color: #ffffff;
}

p {
  color: #ffffff;
  min-height: 100vh;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 100px;
}