.App {
  background-color: #37475a;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  background-color: #e47911;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10vh;
  font-size: calc(20px + 2vmin);
}

.App-header, footer {
  color: white;
}

.App-header, hr, footer {
  background-color: #e47911;
}

hr {
  color:#ffffff;
  display: block;
  height: 3px;
  width: 50%;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

main, footer {
  margin-top: 1%;
}

#tos-box {
  margin-left: 20%;
  margin-right: 20%;
  z-index: 50;
  border: 2px black solid;
  padding: 5%;
  background-color: white;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}